<% if(theme.aboutme){%>
        <div class="widget">
            <div style="margin:0 auto;width:70%;text-align:center;margin-top:30px;">
                <img src="<%- theme.aboutme.image%>" alt="周立" style="width:100%;">
                <h2><%- theme.aboutme.author%></h2>
                <p><%- theme.aboutme.words%></p>
            </div>
        </div>
<%}%>


