<div class="widget">
    <div class="row">
        <div class="col-md-3">
            <img alt="Python-Spider" class="img-responsive center-block" src="/icons/python-spider.png">
        </div>
        <div class="col-md-9">
            <a class="series-a" target="_blank" href="/tags/Python-爬虫/">小白学 Python 爬虫系列教程</a>
            <p>从 0 开始的新手爬虫教程</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img alt="Python" class="img-responsive center-block" src="/icons/python-logo-large.png">
        </div>
        <div class="col-md-9">
            <a class="series-a" target="_blank" href="/tags/Python-基础/">小白学 Python 系列基础教程</a>
            <p>生动、幽默的 Python 基础教程</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img alt="Spring Cloud" class="img-responsive center-block" src="/icons/spring-cloud.jpg">
        </div>
        <div class="col-md-9">
            <a class="series-a" target="_blank" href="/categories/SpringCloud">跟我学 Spring Cloud 系列教程</a>
            <p>全面、通俗易懂的 Spring Cloud 教程</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img alt="Spring Cloud Alibaba教程" class="img-responsive center-block" src="/icons/alibaba.png">
        </div>
        <div class="col-md-9">
            <a class="series-a" target="_blank" href="/categories/SpringCloudAlibaba">Spring Cloud Alibaba 教程</a>
            <p>全网唯一，你值得拥有</p>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-3">
            <img alt="Docker" class="img-responsive center-block" src="/icons/docker.png">
        </div>
        <div class="col-md-9">
            <a class="series-a" target="_blank" href="/docker/00-docker-lession-index/">Docker系列教程</a>
            <p>Docker系列</p>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-3">
            <img alt="Spring Boot" class="img-responsive center-block" src="/icons/spring-boot.jpg">
        </div>
        <div class="col-md-9">
            <a class="series-a" target="_blank" href="/categories/SpringBoot/">Spring Boot 系列教程</a>
            <p>Boot 是基础...</p>
        </div>
    </div>
</div>

