<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <%- partial('_partial/busuanzi') %>
            </div>
            <div class="col-sm-12">
                <span>Copyright &copy; <%= theme.since %>
                </span> |
                <span>
                    极客挖掘机 - 版权所有
                </span> |
                <span>
                    <a href="http://beian.miit.gov.cn/" class="copyright-links" target="_blank" rel="nofollow">晋ICP备19009209号-1</a>
                </span>
            </div>
        </div>
    </div>
</div>

<%- partial('_partial/script') %>
